<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BasicSuite">

    <listeners>
        <listener class-name="TestClass.Listeners"/>
    </listeners>
    
    <test name="TestE2E">
        <classes>
            <class name="TestCases.TestE2E"/>
        </classes>
    </test>
    
</suite>