<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BasicSuite" parallel="classes">

    <parameter name="browser" value="chrome"/>

    <listeners>
        <listener class-name="Utilities.Listeners"/>
    </listeners>

    <test name="TestE2E" >
        <classes>
<!--            <class name="testCases.TestE2E"/>-->
            <class name="testCases.LoginTest"/>
            <class name="testCases.AddProductsTest"/>
        </classes>
    </test>
    
</suite>